@page "/"

<div class="p-2">
    <h3>Refactor</h3>
    <ul>
        <li>
            <a href="/demo/refactor/before">Refactor (before)</a>
        </li>
        <li>
            <a href="/demo/refactor/after">Refactor (after)</a>
        </li>
    </ul>

    <h3>Managing Variation</h3>
    <ul>
        <li>
            <a href="/demo/variation">Refactor (before)</a>
        </li>
        <li>
            <a href="/demo/variation/after">Refactor (after)</a>
        </li>
        <li>
            <a href="/demo/variation/withactions">With Actions</a>
        </li>
    </ul>
    
    <h3>Product Cards</h3>
    <ul>
        <li>
            <a href="/demo/products">Product Cards</a>
        </li>
    </ul>
</div>