@page "/demo/variation/withactions"

<div class="flex gap-4">
    <Panel Title="Panel A">
        <ChildContent>
            A Panel
        </ChildContent>
        <Actions>
            <a href="/" class="underline text-blue-500">View</a>
        </Actions>
    </Panel>
    <ImportantPanel Title="Panel B">
        <ChildContent>
            This works...
        </ChildContent>
        <Actions>
            <span>With Actions!</span>
        </Actions>
    </ImportantPanel>
</div>

@code {

}